/* общие */
.container {
  max-width: 998px;
  margin: 0 auto;
  padding: 40px 0;
}
.absolute-header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.btn {
  padding: 12px;
  border-radius: 4px;
}
.btn:hover {
  cursor: pointer;
}

.site-header {
  position: relative;
  background-color: pink;
  height: 100px;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 20px;
}
.site-header--header {
  font-size: 30px;
}
.news__header {
  text-align: center;
  padding: 40px 0;
}
.news-wrapper {
}

.new {
  border-radius: 4px;
}
.refresh-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new--padding {
  padding: 12px;
}
.new--wrapper {
  border-bottom: 1px solid #828282;
}
.new--header {
  height: 66px;
}
.new--title {
  text-decoration: none;
  margin-bottom: 4px;
  font-size: 19px;
}
.new--info {
  color: #828282;
  margin: 8px 0;
}

/*CurrentNew*/
.targetNew--header {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.targetNew--content {
  max-width: 600px;
  margin-right: auto;
  line-height: 26px;
}
.targetNew--mainText {
  padding: 20px 0;
}
.targetNew--title {
  font-size: 36px;
  line-height: 46px;
  margin: 12px 0 20px;
}
.targetNew--commentBlock {
  padding: 0 0 20px;
  border-bottom: 1px solid #828282;
}
.targetNew--commentBlock-comment {
  display: inline-flex;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background-color: #f0f2f5;
}
.targetNew--commentBlock-comment:hover {
  cursor: pointer;
}
.comment-span {
  display: flex;
}
.comment-text {
  margin-left: 4px;
}
/* Лоадер */
.loader--wrapper {
  width: 100%;
  height: 100%;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  display: inline-block;
  width: 38px;
  height: 38px;
}
.loader:after {
  content: " ";
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 3px solid #333;
  border-color: #333 transparent #333 transparent;
  animation: loader 0.5s linear infinite;
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* comments */
.comment--relative {
  position: relative;
}
.comment--wrapper {
  padding: 8px;
  border-bottom: 1px solid #828282;
}
.comment--by {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 8px;
}
.comment--by:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #0075ff;
}
.comment--childrens {
  position: relative;
  margin-left: 40px;
}
