.container {
    max-width: 1200px;
    background-color:  pink;
    margin: 0 auto;
    padding: 40px 0;
    
}
.news__header {
    text-align: center;
}
.news-wrapper {

}
.new {
    border-radius: 4px;
}
.refresh-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}