.container {
  max-width: 998px;
  margin: 0 auto;
  padding: 40px 0;
}
.news__header {
  text-align: center;
  padding: 40px 0;
}
.news-wrapper {
}

.new {
  border-radius: 4px;
}
.refresh-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new--padding {
  padding: 12px;
}
.new--wrapper {
  border-bottom: 1px solid #828282;
}
.new--header {
  height: 66px;
}
.new--title {
  text-decoration: none;
  margin-bottom: 4px;
  font-size: 19px;
}
.new--score {
}
.new--info {
  color: #828282;
  margin: 8px 0;
}



/*CurrentNew*/
.targetNew--header {
  display: flex;
  justify-content: space-between;
  position: relative;

}
.btn {
  padding: 12px;
}
.targetNew--title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}